/* 
Esto es un comentario de Css
*/
*{
   /* font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
   margin: 0; 
   padding: 0; */
}


h1{
    /* border: 10px dotted blueviolet; */
    border-top: 2px solid rgb(219, 124, 0); 

    border-bottom-width: 10px;
    border-bottom-color: rgb(214, 230, 2) ;
    border-bottom-style:solid ;
    border-radius: 20px;
}
p{
    border-radius: 10px;
    text-decoration: underline;
    text-align: center;
}