*{
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #eceff1;
    color: #333;
}
a{
    text-decoration: none;

}

/* 
cabecera
*/

header{
    width: 100%;
    background-color: #6c9de2;
    border-bottom: 4px solid blue;

}

.contenedor-menu{
    width: 960px;
    margin: 0 auto;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;


}

.logo{
    color: white;
    font-size: 50px;
    margin-bottom: 15px;
}

nav li{
    display: inline-block;
    padding: 12px 22px;
    border-radius: 5px;
    margin: 10px;
    background-color: black;
    color: aliceblue;
    border: #6c9de2;
}

/* Contenido principal */

main{
     width: 960px;
     margin: 0 auto;
     background-color: white;
     margin-top:30px ;
     border-radius: 8px;
     padding: 30px;

}

.titulo-principal{
    text-align: center;
    font-size: 45px;
    padding-bottom: 20px;
}

.subtitulo{
    text-align: center;
    margin-bottom: 30px;
    font-size: 18px;
}


.imagen-principal{
    border-radius: 10px;
    margin-bottom: 35px;

}
/* Articulos */

.articulo{
    background-color: #f8fafc;
    border: 1px solid #dbe2ea;
    border-radius: 6px;
    padding: 20px;
    margin-bottom: 20px;

}

.articulo h2{
    margin-top: 0;
    margin-bottom: 10px;
    font-size: 24px;

}

.articulo h2 a{
    color: rgb(0, 195, 255);
}

.articulo p{

    margin-bottom: 0;
    line-height: 1.7;
    color: #444;
    font-size: 18px;
}

/* Pie de pagina */


footer{
    width: 100%;
    background-color: #6c9de2 ;
    color: white;
    padding-top: 25px;
    padding-bottom: 25px;
    text-align: center;
    margin-top: 30px;
}

.footer-contenido{
    width: 960px;
    margin: 0 auto;
    
}

.github{
   padding-top: 20px;
    font-size: 34px;
}